# =================================================================
# IncidentIQ AI - Environment Configuration
# =================================================================

# -- LLM --
LLM_PROVIDER=''
LLM_MODEL=''
LLM_API_KEY=''
LLM_TEMPERATURE=0.1
LLM_MAX_TOKENS=4096

#Classifier model
LLM_CLASSIFIER_MODEL=''
LLM_CLASSIFIER_MODEL_NAME=''
LLM_CLASSIFIER_MODEL_API_KEY=''


# -- Embedding --
EMBEDDING_PROVIDER=''
EMBEDDING_MODEL=''
EMBEDDING_DIMENSIONS=768

# -- Hugging Face --
HF_API_KEY=''

# -- VectorStore --
VECTOR_STORE_PROVIDER=''
VECTOR_STORE_URL=''
VECTOR_STORE_TABLE=''
VECTOR_STORE_DIMENSIONS=768

# -- Database --
DATABASE_URL=''

# -- Redis --
REDIS_URL=''

# -- Server --
SERVER_PORT=3001
CORS_ORIGIN=''
NODE_ENV=development

# -- Observability --
LOG_LEVEL=info


#--- COHERE fo reranking ---
COHERE_API_KEY=''


#Langsmith API key
LANGSMITH_API_KEY =''

#Copilotkit
COPILOTKIT_TELEMETRY_DISABLED=true
